*~
*#
*.pyc
*.aux
*.log
*.project
*.pydevproject
*.p
ERL_Filter.txt
SignalIntegrity.egg-info/
Doc/xhtml
build/
dist/
Test/TestSignalIntegrity/TestSignalIntegrityApp/_checkall.py
Test/TestSignalIntegrity/test_timings.csv
